@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display:  block;
}

body {
  font-family: 'Assistant';
  color: white;
}

h1,h2,h3,h4,p {
  font-family: 'Assistant';
  margin: 10px;
}

ul {
  /* font-size:var(--fontsize-nav) ; */
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 2px;
  scrollbar-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* For 13 inch Desktop: */
/*Background*/
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('./img/blur1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home page */
.col-home {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.col-nav {
  display: flex;
  flex-direction: column;
  width: 200px; 
  padding: 5px 5px 5px 5px ;
  background-image: url('./img/blur2.png');
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.col-nav ul {
  margin-top: 13%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.col-nav-item li {
  margin-top: 30%;
  margin-right: 100%;
  font-size: 25px;
}

.col-social {
  margin-top: 5%;
  font-size: 25px;
  color: #9a9b9c;
} 

.col-social i {
  padding-left:30px;
  padding-right:30px;
  font-size: 25px;
  color: #9a9b9c;
}

.col-social i:hover {
  color: #ffffff;
}

.typingeffect { 
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
  color: white;
}

.profilepic {
  margin-top: 5%;
  border-radius: 50%;
  border: solid grey;
  width: 350px;
}


/* Mobile Devices - iPads & Tablets (Styled specifically for iPad Pro)*/
@media only screen and (max-width: 1024px){

  .App {
    display: flex; 
    width: 100%;
    height: 100vh;
    background-image: url('./img/blur1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Home page */
  .col-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
  
  .col-nav {
    display: flex;
    flex-direction: column;
    width: 30%; 
    padding: 5px 5px 5px 5px ;
    background-image: url('./img/blur2.png');
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }
  
  .col-nav ul {
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .col-nav-item li {
    margin-top: 40%;
    margin-right: 100%;
    font-size: 35px;
  }
  
  .col-social {
    margin-top: 5%;
    font-size: 25px;
    color: #9a9b9c;
  } 
  
  .col-social i {
    padding-left:30px;
    padding-right:30px;
    font-size: 50px;
    color: #9a9b9c;
  }
  
  .col-social i:hover {
    color: #ffffff;
  }
  
  .typingeffect { 
    text-align: center;
    margin-top: 5%;
    font-size: 60px;
    color: white;
  }
  
  .profilepic {
    margin-top: 30%;
    border-radius: 50%;
    border: solid grey;
    width: 400px;
  }
}

/* Mobile Devices - Medium Sized Tablets */
@media only screen and (max-width: 910px){

  .App {
    display: flex; 
    width: 100%;
    height: 100vh;
    background-image: url('./img/blur1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Home page */
  .col-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
  
  .col-nav {
    display: flex;
    flex-direction: column;
    width: 40%; 
    padding: 5px 5px 5px 5px ;
    background-image: url('./img/blur2.png');
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }
  
  .col-nav ul {
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .col-nav-item li {
    margin-top: 40%;
    margin-right: 100%;
    font-size: 35px;
  }
  
  /* Social Icons */
  .col-social {
    margin-left: 15px;
    margin-top: 5%;
    font-size: 25px;
    color: #9a9b9c;
  } 

  .col-social i {
    font-size: 40px;
    color: #9a9b9c;
    padding: 5%;
    /* Center and wrap Icons */
    /* display: flex;
    margin: auto;
    justify-content: center; */
  }
    
  .col-social i:hover {
    color: #ffffff;
  }
  
  .typingeffect { 
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    color: white;
  }
  
  .profilepic {
    margin-top: 30%;
    border-radius: 50%;
    border: solid grey;
    width: 350px;
  }
}

/* Mobile Devices - Small Tablets and iPads + Large Phones */
@media only screen and (max-width: 768px) {
  
  .App {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100vh;
    background-image: url('./img/blur1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Home page */
  .col-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }

  /* Nav Bar */
  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 10%;
    background-image: url('./img/blur2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }

  .col-nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 20px;
  }
  
  .col-nav-item li {
    font-size: 25px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Social Icons */
  .col-social {
    margin-top: 5%;
    font-size: 25px;
    color: #9a9b9c;
  } 
    
  .col-social i {
    font-size: 25px;
    color: #9a9b9c;
  }
    
  .col-social i:hover {
    color: #ffffff;
  }

  /* Typing under Picture */
  .typingeffect {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    color: white;
  }

  /* Picture on the Homepage */
  .profilepic {
    margin-top: 20%;
    border-radius: 50%;
    border: solid grey;
    width: 400px;
  }
}

/* Mobile Devices - Medium Sized Phones */
@media only screen and (max-width: 573px) {
  
  .App {
    display: flex;
    flex-direction: column; 
    width: 100vw;
    height: 100vh;
    background-image: url('./img/blur1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Home page */
  .col-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }

  /* Nav Bar */
  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 10%;
    background-image: url('./img/blur2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }

  .col-nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 20px;
  }
  
  .col-nav-item li {
    font-size: 20px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Social Icons */
  .col-social {
    margin-left: 15px;
    margin-top: 5%;
    font-size: 25px;
    color: #9a9b9c;
  } 
  
  .col-social i {
    font-size: 25px;
    color: #9a9b9c;
    padding: 5%;
    /* Center and wrap Icons */
    /* display: flex;
    margin: auto;
    justify-content: center; */
  }
    
  .col-social i:hover {
    color: #ffffff;
  }

  /* Typing under Picture */
  .typingeffect {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: white;
  }

  /* Picture on the Homepage */
  .profilepic {
    margin-top: 20%;
    border-radius: 50%;
    border: solid grey;
    width: 300px;
  }
}


/* Mobile Devices - Small Sized Phones */
@media only screen and (max-width: 450px) {
  
  html,body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }

  .App {
    display: flex;
    flex-direction: column; 
    width: 100vw;
    height: 100vh;
    background-image: url('./img/blur1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Home page */
  .col-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }

  /* Nav Bar */
  .col-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 10%;
    background-image: url('./img/blur2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }

  .col-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 3%;
    flex-wrap: nowrap;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 28px;
  }
  
  .col-nav-item li {
    font-size: 17px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
  }

  /* Social Icons */
  .col-social {
    margin-left: 15px;
    margin-top: 5%;
    font-size: 25px;
    color: #9a9b9c;
  } 
  
  .col-social i {
    font-size: 25px;
    color: #9a9b9c;
    padding: 5%;
    /* Center and wrap Icons */
    /* display: flex;
    margin: auto;
    justify-content: center; */
  }
    
  .col-social i:hover {
    color: #ffffff;
  }

  /* Typing under Picture */
  .typingeffect {
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
    color: white;
  }

  /* Picture on the Homepage */
  .profilepic {
    margin-top: 20%;
    border-radius: 50%;
    border: solid grey;
    width: 200px;
  }
}

/*End of homepage styling*/
/*Beginning of subpage styling*/

.subtopic {
  margin:60px 10px 30px 10px !important;
}

/* .skills {
  margin: 60px 10px 30px 10px;
} */

.widecard {
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active {
  font-weight: bolder;
}













/* .skills ul li {
  list-style-type:none;
  margin:30px;
} */

/* [class*="col-"] {
  float: left;
  padding: 15px;
} */

/*Styles commented out may have been defaults*/
/* @media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
} */

/*Styles commented out may have been default*/
/* @media only screen and (max-height: 569px) {
.social
  {
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 5px;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
} */










/* @media only screen and (max-height: 530px) {
  .typingeffect {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  }
}

@media only screen and (max-height: 490px) {
  .typingeffect {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  }
} */


/* @media only screen and (max-height: 750px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 300px;
  margin: 30px;
  }
}

@media only screen and (max-height: 630px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 200px;
  margin: 30px;
  }
}

@media only screen and (max-height: 530px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 150px;
  margin: 30px;
  }
}

@media only screen and (max-height: 430px) {
  .profilepic {
  border-radius: 50%;
  border: solid grey;
  width: 150px;
  margin: 30px;
  }
} */

